.votebox {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1em;
}

.upvote, .downvote {
    cursor: pointer;
    /*border-radius: 2px ;*/
    /*border: solid;*/
}

.upvote:hover {
    color: green;
}

.downvote:hover {
    color: red;
}

.votecount {
    font-weight: bold;
}
